<div class="page-header" style="background: url(assets/img/banner1.jpg);">
    <div class="container">
    <div class="row">
    <div class="col-md-12">
    <div class="breadcrumb-wrapper">
    <h2 class="product-title">Recruiter Board</h2>
    <ol class="breadcrumb">
    <li><a href="#"><i class="ti-home"></i> Home</a></li>
    <li><a href="/recruiter" routerLink="/recruiter">Recruiter</a></li>
    <li class="current">Change password</li>
    </ol>
  
    </div>
    </div>
    </div>
    </div>
  </div>
  
  
  <div id="content">
    <div class="container">
    <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="right-sideabr">
    
    <div class="inner-box">
    <ul class="lest">
    <li><a href="/recruiter" routerLink="/recruiter">My Profile</a></li>
    <li><a href="/recruiter/edit-profile" routerLink="/recruiter/edit-profile">Edit Profile</a></li>
    <li><a class="active">Change Password</a></li>
    </ul>
    <ul class="lest item">
    <li><a href="/recruiter/offers" routerLink="/recruiter/offers">Manage offers</a></li>
    <li><a href="/recruiter/post-offer" routerLink="/recruiter/post-offer">Post an offer</a></li>
    </ul>
    <ul class="lest">
    <li><a href (click)="logout()">Logout</a></li>
    </ul>
    </div>
    </div>
    </div>

    
    <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="job-alerts-item">
        <h3 class="alerts-title">Change Password</h3>
        <form class="form" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form-group is-empty">        
        <label class="control-label" for="textarea">Old Password*</label>
        <input type="password" placeholder="Old Password" class="form-control" name="oldPass" [(ngModel)]="form.oldPass" required minlength="6" #oldPass="ngModel"/>
        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && oldPass.invalid">
          <div *ngIf="oldPass.errors.required">Password is required</div>
          <div *ngIf="oldPass.errors.minlength">
                Password must be at least 6 characters
          </div>
        </div>
        <span class="material-input"></span>
        </div>
        <div class="form-group is-empty">
        <label class="control-label" for="textarea">New Password*</label>
        <input type="password" placeholder="New Password" class="form-control" name="newPass" [(ngModel)]="form.newPass" required minlength="6" #newPass="ngModel"/>
        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && newPass.invalid">
          <div *ngIf="newPass.errors.required">Password is required</div>
          <div *ngIf="newPass.errors.minlength">
                Password must be at least 6 characters
          </div>
        </div>
        <span class="material-input"></span>
        </div>
        <button class="btn btn-common log-btn">Save Change</button>
        <br><br>
        <div class="form-group">
            <div class="alert alert-danger" role="alert" *ngIf="f.submitted && !isSuccessful">
              Password change failed: {{ errorMessage }}
            </div>
            <div class="alert alert-success" *ngIf="isSuccessful">
                Password changed successfully.
              </div>
        </div>
        </form>
    </div>
    </div>

    </div>
    </div>
    </div>
  

